.elemento {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px gray;
  background-color: #09f;
  color: white;
}

.elementoDiv {
  display: flex;
  justify-content: space-between;
}

.containBoton {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.containStrong {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.botonModificar {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 150, 0);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.botonModificar:hover {
  background-color: rgba(0, 120, 0);
}

.botonEliminar {
  border: none;
  border-radius: 5px;
  background-color: rgba(200, 0, 0);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.botonEliminar:hover {
  background-color: rgba(170, 0, 0);
}
