.navContain {
  width: 20%;
  min-width: 200px;
  min-height: 100vh;
  background-color: #09f;
  color: white;
}

.navLinks {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: inherit;
}

.navTittle {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navLinks:hover {
  background-color: white;
  color: black;
}

.select {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: inherit;
  background-color: #eee;
  color: black;
}
