.containTable {
  width: 80%;
  min-width: 500px;
  margin: auto;
  margin-top: 10vh;
}

.columnColor {
  padding: 10px;
  background-color: #6190ff;
  border-radius: 5px;
}

.columnText {
  text-align: center;
}
