.containTable {
  width: 80%;
  min-width: 500px;
  margin: auto;
  margin-top: 10vh;
}

.columnColor {
  padding: 9px;
  background-color: #0099ff;
  color: white;
  border-radius: 3px;
}

.columnText {
  background-color: #dddddd;
}

.columnText td {
  text-align: center;
  padding: 6px;
  border-radius: 3px;
}

.columnText:nth-child(even) td {
  background-color: #bbbbbb;
}

.containBoton {
  display: flex;
  justify-content: space-evenly;
}

.containTbody {
  border: 1px solid gray;
}

.botonModificar {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.9);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.botonModificar:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

.botonEliminar {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.botonEliminar:hover {
  background-color: rgba(255, 0, 0, 0.75);
}
